.DS_Store
phpunit.xml
/composer.phar
/vendor
/memory
/site
/graphify-out
/.phpcs-cache
/.claude
/.idea
/.runs/
/.githooks/post-checkout
/.githooks/post-commit
/var/
/graphify-out/
/nbproject
/*.sublime-project
/*.sublime-workspace
